/* CSS Boilerplate*/
*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
/* Reseting text underlines and padding for these elements*/
menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
    list-style: none;
}
a {
  /* Places underlines below the descenders */
  text-underline-position: under;


  /* Sets the thickness as a percentage of the font size */
  text-decoration-thickness: 8;
}
/*Interactive elements with cursor */
li,
label,
button,
select,
summary,
[type=radio],
[type=submit],
[type=checkbox] {
    cursor: pointer;
}
/* End of CSS Boilerplate */
i{
  color: white;
}
nav ul{
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0px 40px;
  align-items: center;
}
li {
  list-style: none;
  text-decoration:none;
  text-align: center;
  cursor:pointer;
  background-color: black;
  color: antiquewhite;
  border: solid 1px antiquewhite;
  padding: 0.5rem;
  margin: 20px 20px;
  border-radius: 5px;
}
li:hover, li:focus{
  background-color: antiquewhite;
  color: black;
  transition: all 0.5s ease-in-out;
}
body{
  font-family: 'Cormorant Garamond', serif;
  background-color: black;
  color: whitesmoke;
}
.introduction{
  position: relative;
}
.container1{
  display: grid;
  height: 100%;
}
.center-fit{
  z-index: 2;
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
  opacity: 0.7;
}
.article-container{
  font-size: 1.5rem;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textbox1{
  position: absolute;
  top: 80vh;
  right: 25vw;
  background-color: black;
  color: antiquewhite;
  opacity: 0.9;

}
.textbox1:hover{
  visibility: visible;
}

.textbox1 span{
  font-weight: bold;
}
.textbox2{
  color: antiquewhite;
  position: absolute;
  top: 40vh;
  left: 20vw;
  float: left;
  background-color: black;
  opacity: 0.9;
  display: none;
}
.hide{
  opacity: 0;
  left: -100%;
}
.show {
  opacity: 1;
  left: 0;
}
.textbox2 h2{
  margin: 10px 0px;
}
.textbox2 span{
  font-weight: bold;
  font-style: italic;
  color: wheat;
}
/* Smooth Scrolling*/
@media (prefers-reduced-motion: no-preference) {
  html {
        scroll-behavior: smooth;
  }
}