/* CSS Boilerplate*/
*{ 
  box-sizing: border-box;
  border: none;
}
/* Reseting text underlines and padding for these elements*/
menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
    list-style: none;
}
a {
  /* Places underlines below the descenders */
  text-underline-position: under;


  /* Sets the thickness as a percentage of the font size */
  text-decoration-thickness: 8;
}
/*Interactive elements with cursor */
li,
label,
button,
select,
summary,
[type=radio],
[type=submit],
[type=checkbox] {
    cursor: pointer;
}
/* End of CSS Boilerplate */
i{
  color: white;
}
nav ul{
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
nav ul li{
  border: 1px solid antiquewhite;
  border-radius: 8px;
  padding: 0.8rem;

}
body{
  font-family: 'Cormorant Garamond', serif;
  background-color: black;
  color: whitesmoke;
}
img {
  display: block;
  max-width: 100%;
  background-repeat: repeat-x;
  height: 100vh;
  opacity: 0.8;
}
.introduction{
}
.grid-container1{
  display: grid;
  grid-template-columns: [line1] 40px [line2] auto [line3] 40px [line4];
  grid-template-rows: [row1] 25% [row2] 50% [row3] 25% [row4];
}
.grid-article{
  grid-column-start:line2 ;
  grid-column-end:line3 ;
  grid-row-start:row1 ;
  grid-row-end:row3;
}
/* Smooth Scrolling*/
@media (prefers-reduced-motion: no-preference) {
  html {
        scroll-behavior: smooth;
  }
}