extends layout

block content
  h1= title
  p Welcome to #{title}
  
  div.index-introduction
    h2 Introduction to Karan's Express Contact app 
    p This app allows a user to create contacts, edit contacts and view contacts that they have created.

    h2 How to use the App 
    p 

    h2 Contact Info

    h3 Karan Patel 
    p IIT Graduate Student in ITM Specializing in Web Design and Application Development 
    
    h4 Email 
    p kpatel114@hawk.iit.edu
    br

  div 
    label View Contacts Database
      button.btn-view(type='button', onclick='viewContacts()')
        i.fa-solid.fa-database(aria-hidden='true') 