extends layout

block content
  h1= title
  p Welcome to #{title}
  
  div.index-introduction
    h2 Introduction to Karan's Express Contact app 
    p This app allows a user to create contacts, edit contacts and view contacts that they have created.

    h2 How to use the App 
    p 