extends layout

block content
  h1= title
  p Use the form below to add a Contact.
  hr
  if msg 
    p(class="error-msg") = msg

  div.index-form
    h2 Add a Contact

    form(method='POST', action='/contacts/add')
    
      label First Name
      input(type='text' name='firstName' required)
      br
      label Last Name
      input(type='text' name='lastName' required)
      br
      label Email
      input(type='text' name='email')
      br
      label Notes
      input(type='textarea' name='notes')
      br
      label Date/Time
      br
      label Click to create contact
      button.btn-add(type='submit', onclick='add')
        i.fa-solid.fa-plus(aria-hidden='true') Create Contact
      | 
      a(href='/contacts') Go Back
      
  div.index-content
    h2 Search for current contacts
    br
    input.input-search(autofocus='' placeholder='Enter Contact Name' type='search' name='search')




