doctype html
html
  head
    title= title
    <script src="https://kit.fontawesome.com/369fe9d219.js" crossorigin="anonymous"></script>
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
