*{
  color: whitesmoke;
  background-color:  #A44A3F;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: goldenrod;
  padding:10px;
  border: 1px solid antiquewhite;
  border-radius: 8px;

}

.error-msg{
  color: red;
}
#contacts-wrapper{
  margin: 0px 1rem;
  padding:1rem;
  height: auto;
  border: 1px solid antiquewhite;
  border-radius: 5px;
}
.contact-actions{
  padding: 1rem;
  margin: 5px 5px;
  display: flex;
  justify-content: space-between;
  
}
.index-form{
  margin: 5px 5px;
}